*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

html,body{
    height: 100%;
    width: 100%;
}

/* body{
    position: absolute;
    width: 1584px;
    height: 1056px;
    left: calc(50% - 1584px/2);
    top: calc(50% - 1056px/2);
    
} */

.mainPage{
    height: 100%;
    width: 100%;
    background: radial-gradient(70.59% 105.89% at 95.28% 11.1%, #400A46 0%, #340A41 33.26%, #140A35 93.37%, #100A33 100%);
}

.nav{
    padding-top: 2vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* position: absolute; */
    z-index: 1;
    position: relative;

}

#mprt{
    position: absolute;
    top: 0;
    left: 89%;
    z-index: 0;
}

#left{
    /* padding: 1%; */
    /* padding-left: vw; */
    /* background-color: #95d092; */
    width: 20%;
    /* margin: 0; */
    /* text-align: center; */
    /* list-style: none; */    
    display: flex;
    justify-content: center;
    align-items: center;
}

#left h1{
    padding-left: 2%;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    /* font-style: normal; */
    letter-spacing: 1px;
    font-size: 5vh;
}

#left i{
    color: #EA712E;
    font-size: 3vh;
}

#mid{
    width: 50%;
    /* background-color: #6b4f4f; */
}

#mid h2{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

/* .container {
    display: inline-block;
    cursor: pointer;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
}
  
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
.change .bar2 {
    opacity: 0;
}  

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
} */

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    margin: 1px;
}

.menu h2{
    /* background-color: cornflowerblue; */
    padding: 20px;
}

.menu button{
    color: #000;
}


.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropdown-toggle {
    background-color: rgba(222, 184, 135, 0.2);
    border: 2px solid rgb(255, 255, 255,0.2);
    color: white;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 3vh;
    padding: 2px 18px;
    /* border: none; */
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color:rgba(36, 29, 70, 0.95);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu a {
    /* color: black; */
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color:rgba(83, 79, 111, 0.83);
    color:aquamarine;
}




#right{
    /* text-align: ; */
    padding-left: 20px;
    width: 20%;
    /* background-color: #5aadcb; */
}

#right h2::before{
    content: "©";
    margin-right: 5px;
}

.mainContent{
    /* background-color: cornflowerblue; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    /* top: 1%; */
}

.mainPage #bgi{
    /* z-index: -1; */
    position: absolute;
    width: 100%;
    height: 90%;
}




.mainContent img{
    position: absolute;
    /* height: 20%; */
    z-index: 5;
}



#img1{
    top: 0;
    left: 0;
    height: 20%;
}
#img2{
    top: 0;
    right:0;
    height: 46%;
}

#img3{
    left: 0;
    bottom: 92px;
    height: 18%;
    /* size: 50%; */
    /* height: 20%; */
}

#img4{
    right: 0;
    bottom:92px;
    height: 37%;
}

#img5{
    right: 50;
    bottom:92px;
    height: 15%;
}

#img6{
    left: 0;
    top:21%;
    height:52%;    
}

#img7{
    top: 20px;
    left: 49%;
}

#img8{
    top: 34.5%;
    left: 18%;
    height: 8%;
}

#lecrnr{
    position: absolute;
    left: 0;
    height: 46%;
    bottom: 92px;
    z-index: 0;
}

.mainContent #mainBox{
    position: absolute;
    text-align: center;
    /* background-color: coral; */
    height: 85%;
    width: 70%;
    /* padding: px; */
}

.mainContent #mainBox h1{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    /* font-style: normal; */
    letter-spacing: 1px;
    font-size: 11vh;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.mainContent #mainBox p{
    /* position: absolute; */
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 2vh;
    /* z-index: 4; */
}

.mainContent #mainBox button{
    cursor: pointer;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 2vh;
    padding:2vh;
    width: 15vw;
    height: 10vh;
    border-radius: 5%;
    background: linear-gradient(315deg, #CD1013 1.19%, #FF0004 1.5%, #2500FF 94.46%);

}

.Sun{
    height: 100%;
    width:100%;
    /* background-color: aquamarine; */
    background: radial-gradient(70.59% 105.89% at 95.28% 11.1%, #400A46 0%, #340A41 33.26%, #140A35 93.37%, #100A33 100%);
    /* object-fit: cover; */
}

#sunimg{
    /* width: 100%; */
    position: relative;
}


#im2{
    /* background-color: #fff; */
    width: 100%;
    height: 100%;
    position: absolute;
    /* z-index: 2; */
}
#im1{
    width: 100%;
    position: absolute;
    z-index: 5;
}




.Sun #content{
    position: relative;
    /* bottom: 20%; */
    top: 60%;
    margin-top: 8px;
    margin-left: 60px;
    width: 46%;
    /* background-color: rgb(70, 70, 0); */
}

.Sun #content h1{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    /* margin-bottom: 10px; */
}

.Sun #content #mainh{
    font-size: 10vh;
    font-weight: 800;
    margin-bottom: 15px;
}

.Sun #info{
    /* background-color: aquamarine; */
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.Sun #info1{
    /* background-color: cornflowerblue; */
    width: 45%;
    background: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #430E49 0.53%, #370D44 32.06%, #170B36 89.03%, #100A33 100%);
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}
.Sun #info2{
    /* background-color: cornflowerblue; */
    width: 45%;
    background: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #430E49 0.53%, #370D44 32.06%, #170B36 89.03%, #100A33 100%);
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}

.Sun #info1 i{
    position: relative;
    top:10%;
    font-size: 8vh;
    color: #fff;
}

.Sun #info2 i{
    font-size: 10vh;
    color: #EA712E;
}

.Sun .inf{
    font-size: 3vh;
}


.Mercury{
    height: 100%;
    width: 100%;
    position: relative;
    background: radial-gradient(70.59% 105.89% at 95.28% 11.1%, #400A46 0%, #340A41 33.26%, #140A35 93.37%, #100A33 100%);
}


.Mercury #mimg{

    /* height: 100%; */
    /* width: 100%; */
    top: 49%;
    /* position: relative; */
}

.mimg{
    position: absolute;
}

.Mercury #mi1{
    top: 10%;
}
.Mercury #mi2{
    top: 12%;
}
.Mercury #mi3{
    top:14%;
}

.Venus{
    height: 100%;
    position: relative;
    width:100%;
    /* background-color: aquamarine; */
    background: radial-gradient(70.59% 105.89% at 95.28% 11.1%, #400A46 0%, #340A41 33.26%, #140A35 93.37%, #100A33 100%);
    /* object-fit: cover; */
}

.Venus img{
    position: absolute;
    right: 0;
    bottom: 0;
}


.Earth{
    height: 100%;
    width: 100%;
    background-color: cornflowerblue;
}

.Mars{
    height: 100%;
    width: 100%;
    background-color: red;
}
